.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  margin: 0 auto;
  margin-top: 92px;
  color: #FFFFFF;
  z-index: 1;
}

.cover::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: 0;
}

.cover:hover::after {
  opacity: .8;
  transition: opacity .3s linear;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin-top: 90px;
  }
}

@media (max-width: 650px) {
  .cover {
    margin-top: 66px;
    max-width: 320px;
    min-height: 200px;
  }
}
