.cover__image {
  position: absolute;
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  min-height: 740px;
  background-size: contain;
}

@media (max-width: 1024px) {
  .cover__image {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
 .cover__image {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__image {
    max-width: 320px;
    min-height: 200px;
  }
}