.cover__image {
  position: absolute;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .cover__image {
   background-size: contain;
   background-repeat: no-repeat;
   height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__image {
   background-size: contain;
   height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__image {
   background-size: contain;
   height: 200px;
  }
}