.cover__overlay {
  max-width: 1184px;
  min-height: 740px;
  color: #FFFFFF;
  text-decoration: none;
  z-index: 1;
}



@media (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
}
